<main class="w-full h-screen bg-gray-200">
  <h1
    class="fixed top-16 mt-5 px-4 right-0 text-gray-900 bg-white bg-opacity-55 font-thin text-xl p-2"
  >
    Terra & Fogo Terracotas
  </h1>

  <section
    class="grid grid-rows-2 grid-cols-2 md:grid-rows-3 md:grid-cols-3 gap-1 rounded"
  >
    @for (item of images; track $index) { @defer {
    <img
      class="grid row-span-1 col-span-1 rounded"
      src="./image/terracota/{{ item }}"
      loading="lazy"
    />

    }@placeholder {
    <p>placeholder</p>

    }@loading {
    <p>loading</p>
    } }
  </section>
</main>
