<main class="w-full h-screen">
  <h1
    class="fixed top-16 mt-5 pr-4 right-0 text-gray-900 bg-white bg-opacity-55 font-thin text-xl p-2"
  >
    Esculturas em Pedras
  </h1>

  @defer{
  <section
    class="grid grid-rows-2 grid-cols-2 md:grid-rows-3 md:grid-cols-3 gap-1 rounded w-full h-full"
  >
    @for (item of images; track $index) {
    <img
      class="grid row-span-1 col-span-1 rounded object-cover w-full h-full transition-opacity duration-300"
      src="./image/pedras/{{ item }}"
      loading="lazy"
      (load)="onImageLoad($event)"
      [class.opacity-0]="!imageLoaded[$index]"
      [class.opacity-100]="imageLoaded[$index]"
    />

    }
  </section>
  } @placeholder {
  <div class="bg-gray-300 rounded animate-pulse h-full w-full"></div>

  }@loading (minimum 500ms) {
  <div
    class="flex row-span-1 col-span-1 items-center justify-center h-full w-full bg-gray-200 rounded"
  >
    <!-- Spinner -->
    <div
      class="w-8 h-8 border-4 border-gray-400 border-t-indigo-600 rounded-full animate-spin"
    ></div>
  </div>
  }
</main>
