<p>testimonial works!</p>

<p>
  depoimento2.jpg Dentre os jovens escultores gaúchos, Maia se destaca por sua
  inventiva e - o que é muito im-portante para quem começa - sua incansável
  dedicação no aprender o artezanato da escultura. Vasco Prado Nilton Maia é um
  jovem escultor gaúcho, que come-
</p>
<p>
  depoimento2.jpg "Suas te rracotas recordam o gesto primordial da criação
  quando a água e o espírito se associaram ao pó, dando-lhes a vida". Armindo
  Trevisam "Um trabalho humilde e duro, incansável, buscando descobrir nas
  pessoas alguma coisa que os outros não enxergam". Josué Guimarães
</p>
<p>
  "Só uma mente sofisticada, no comando de talento incomum conceberia esta
  mescla de simplicidade e ironia, do simples e do sugestivo, que existe em cada
  objeto mulher do Maia". Luiz Fernando Veríssimo
</p>
<p>
  "Como em Di Cavalcanti, temos aqui uma arte essencialmente brasileira, o que o
  torna mais próximo de nossos sentimentos e emoções". Moacir Scliar
</p>

<p>
  Maria Amelia Poucos são aqueles que podem ter a vivência estética, este
  exercício de sensibilidade humana, em, seu cotidiano, e menos ainda aqueles
  que podem te la como opção de vida. Dentre estes, lutando muitas vezes contra
  obstáculos bastante difíceis, mas acreditando que este é o seu caminho, está
  Nilton Maia. Um artista que se utiliza da matéria inerte pa-ra produzir
  figuras cheias de vida, colocando nestas figuras as alegrias e as tristezas de
  seu dia a dia. O fruto deste laborioso trabalho ele nos apre-senta nesta
  exposição, com satisfação e alguma pitada de orgulho. As formas de suas peças
  são em geral figu-ras humanas, figuras prosaicas, retiradas de seu cotidiano.
  A nota dominante são mulheres, cujo curvilí-neo ele capta com carinho. Suas
  mulheres são dis-plicentes, parecendo desperceber o olhar sensível que lhes
  deita o artista, sendo assim aprendidas em todo seu despojamento. Maia nos
  permite partilhar, através de seu trabalho de um mundo pelo qual passamos
  diaria-mente mas que nossos olhos pouco atentos, ou melhor pouco exercitados
  na vivência estética, dei-xam passar desapercebido. Maria Amélia Bulhões
</p>
