<div class="w-full h-screen bg-gray-200">
  <app-whatsapp-button
    class="z-30 fixed right-5 bottom-5"
  ></app-whatsapp-button>

  <p class="z-30 fixed top-5 left-5 bg-red-500 text-white text-4xl p-2">
    Terra & Fogo Terracotas
  </p>

  <main
    class="grid grid-cols-1 gap-1 p-1 h-[100vh] w-full sm:grid-cols-2 sm:grid-rows-2"
  >
    <img
      src="./image/home/home_1.jpeg"
      class="rounded object-cover cursor-pointer h-full w-full hover:opacity-80 active:opacity-80"
    />
    <img
      src="./image/home/home_2.jpeg"
      class="rounded object-cover cursor-pointer h-full w-full hover:opacity-80 active:opacity-80"
    />
    <img
      src="./image/home/home_3.jpeg"
      class="rounded object-cover cursor-pointer h-full w-full hover:opacity-80 active:opacity-80"
    />
    <img
      src="./image/home/home_4.jpeg"
      class="rounded object-cover cursor-pointer h-full w-full hover:opacity-80 active:opacity-80"
    />
  </main>
</div>
