<!-- Telas pequenas -->
<main class="md:hidden grid grid-cols-3 grid-rows-5 gap-1 h-screen w-screen">
  <!-- top -->
  <section class="flex gap-1 w-full col-span-3 row-span-1">
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/jardim.jpg"
      alt=""
    />

    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/home2.jfif"
      alt=""
    />

    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/ponte.jpg"
      alt=""
    />
  </section>
  <!-- Mid -->
  <section class="flex gap-1 row-span-3 col-span-3">
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/home_1.jpg"
      alt=""
    />
  </section>

  <!-- Botton -->
  <section class="flex gap-1 row-span-1 col-span-3">
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/home4.jpg"
      alt=""
    />
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/home5.jpg"
      alt=""
    />
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/home6.jpg"
      alt=""
    />
  </section>
</main>

<!-- Telas Desktop -->
<div class="h-screen w-full hidden md:grid grid-cols-5 grid-rows-3 gap-1">
  <div class="flex justify-center items-center">
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/jardim.jpg"
      alt=""
    />
  </div>
  <div class="flex justify-center items-center col-span-3 row-span-3">
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/home_1.jpg"
      alt=""
    />
  </div>
  <div class="flex justify-center items-center col-start-1 row-start-2">
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/home2.jfif"
      alt=""
    />
  </div>
  <div class="flex justify-center items-center col-start-1 row-start-3">
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/ponte.jpg"
      alt=""
    />
  </div>
  <div class="flex justify-center items-center col-start-5 row-start-1">
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/home4.jpg"
      alt=""
    />
  </div>
  <div class="flex justify-center items-center col-start-5 row-start-2">
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/home5.jpg"
      alt=""
    />
  </div>
  <div class="flex justify-center items-center col-start-5 row-start-3">
    <img
      class="rounded w-full h-full object-cover"
      src="./image/home/home6.jpg"
      alt=""
    />
  </div>
</div>
