<nav class="grid">
  <!-- class="justify-self-end text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm p-3 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" -->
  <button
    type="button"
    (click)="open()"
    class="justify-self-end bg-white hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm p-3 text-center me-2 mb-2"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </button>

  @if (isOpen()) {
  <article class="bg-gray-300 p-5 animate-fade-up bg-opacity-80">
    <section class="grid gap-3">
      <p (click)="goToHome()" class="hover:font-bold text-xl cursor-pointer">
        Home
      </p>
      <p
        (click)="goToTerracota()"
        class="hover:font-bold text-xl cursor-pointer"
      >
        Terracotas
      </p>
      <p (click)="openContact()" class="hover:font-bold text-xl cursor-pointer">
        Contato
      </p>
    </section>
  </article>

  }
</nav>
